<div class="container">
    <div class="items">
        <h1>Calculadora</h1>
        <div class="actions">
            <%= link_to "Somar", sum_numbers_path() %>
            <%= link_to "Subtrair", subtract_numbers_path() %>
            <%= link_to "Multiplicar", multiply_numbers_path() %>
            <%= link_to "Dividir", divide_numbers_path() %>
        </div>
    </div>
</div>