p {
    color: #E9806E;
    font-size: 2.25em;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1 {
    color: #E9806E;
    font-size: 2.25em;
    padding-bottom: 30px;
}

.actions a {
    color: #fafafa;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #666;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.actions a:hover {
    background-position: right center;
}